@model WarehouseApp.Web.ViewModels.Product.ProductsInCupboardViewModel
@{
    this.ViewData["Title"] = "Cupboard contents";

}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach (var product in this.Model.Products)
    {
        <div class="card col-md-3" style="width: 18rem;">
            <img src="@product.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">Quantity in cupboard: @product.Quantity</p>
                <a asp-action="Product" asp-route-id="@product.Id" class="btn btn-primary">Details</a>

            </div>
        </div>
    }
</div>

