@model WarehouseApp.Web.ViewModels.Product.ProductDetailsViewModel
<div class="single-recipe-layout1">
    <h1 class="item-title">@Model.Name</h1>
    <div >
        
                    
                     Added on: @Model.CreatedOn
                    
          
    </div>
    
    
    
    
    <div class="making-elements-wrap">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img class="product-img" src="@Model.ImageUrl" alt="Product">
                </div>
            </div>
            <div class="col-xl-6 col-6">
                <div class="product-description">
                    <h3 class="item-title">Product Details</h3>
                    <p>Description:</p>
                    <p class="item-description">
                        <b> @Model.Description</b>
                    </p>
                    <p>Price: <b>@Model.Price</b></p>
                    <p>Total Quantity: <b>@Model.Quantity</b></p>
                    <p>Available in cupboards: gethub</p>
                </div>
            </div>
        </div>
    </div>
</div>